.container {
  display: block;
  margin: 1rem auto 2rem auto;
  max-width: 800px;
}

.container h5 {
  font-family: 'Open Sans', 'sans-serif';
  line-height: 1.75rem;
  margin-top: 0;
}

.container h5 a {
  color: #000;
  font-family: 'Oswald';
  font-size: 1.2rem;
}

.container p a {
  opacity: 0.7;
  /* margin-left: 0rem; */

  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  /* -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; */

  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  /* -webkit-transition: margin-left 0.2s ease;
  -moz-transition: margin-left 0.2s ease;
  -ms-transition: margin-left 0.2s ease;
  -o-transition: margin-left 0.2s ease;
  transition: margin-left 0.2s ease; */
}

.container p a:hover {
  opacity: 1.0;
  /* margin-left: 0.4rem; */

  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  /* -webkit-transition: margin-left 0.5s ease;
  -moz-transition: margin-left 0.5s ease;
  -ms-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease; */
}

.container ul li {
  font-family: 'Oswald';
  font-weight: 200;
  /* font-size: 1.0rem; */
}

.container li a {
  font-size: 1.0rem;
  letter-spacing: 0.1rem;
}



/* hover of list items */

.container li a {
  opacity: 0.7;
  /* margin-left: 0rem; */

  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  /* -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; */

  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  /* -webkit-transition: margin-left 0.2s ease;
  -moz-transition: margin-left 0.2s ease;
  -ms-transition: margin-left 0.2s ease;
  -o-transition: margin-left 0.2s ease;
  transition: margin-left 0.2s ease; */
}

.container li a:hover {
  opacity: 1.0;
  /* margin-left: 0.4rem; */

  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  /* -webkit-transition: margin-left 0.5s ease;
  -moz-transition: margin-left 0.5s ease;
  -ms-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease; */
}
