.projectListItem {
  margin-bottom: 60px;
}

.projectListItem li{
  list-style-type: none;
}

.projectDevider {
  opacity: 0.3;
}

.projectContainer {
  position: relative;
  display: block;
  margin-bottom: 50px;
  min-height: 35rem;
}

.projectTitle {
  margin-bottom: 1em;
  font-size: 3em;
  font-family: "Oswald";
  font-weight: 300;
  letter-spacing: 0.8em;
}

.descriptionContainer {
  display: block;
  /*margin: 1em 6em;*/

  font-size: 1em;
  font-weight: 300;
}

.projectsDescription {
  margin-top: 0;
  line-height: 1.8em;
}

.projectsDescription a {
  text-decoration: none;
  color: #000;
  opacity: 0.5;
}

.projectsDescription a:hover {
  opacity: 1;
}

.thumbnailProjectImg {
  position: relative;
  float: right;
  margin-top: 0;
  margin-left: 3rem;
  margin-bottom: 30px;
  width: 60%;
  height: 30rem;
  overflow: hidden;
}

.thumbnailProjectImg img {
  position: absolute;
  left: 50%;
  top: 25%;
  /*height: 100%;*/
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

@media only screen and (max-width: 1100px) {
  .projectTitle {
    margin-bottom: 0.4em;
  }

  .thumbnailProjectImg {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .thumbnailProjectImg img {
    position: absolute;
    left: 50%;
    top: 50%;
  }
}


@media only screen and (max-width: 720px) {
  .projectTitle {
    margin-bottom: 0.3em;
    font-size: 2.8em;
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.5em;
  }

  .thumbnailProjectImg {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
    /*height: 20rem;*/
    height: 260px;
  }

  .descriptionContainer {
    display: block;
    margin: 1em 2em;
    font-size: 0.9em;
    font-weight: 300;
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .projectContainer {
    position: relative;
    display: block;
    margin-bottom: 50px;
    min-height: 400px;
  }

  .projectTitle {
    font-size: 2.5em;
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.3em;
  }

  .thumbnailProjectImg img {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .thumbnailProjectImg {
    display: block;
    margin: 0;
    /*width: 100%;*/
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 15rem;
  }

  .descriptionContainer {
    display: block;
    margin: 0.8em 1em;
    font-size: 0.8em;
    font-weight: 300;
    width: 90%;
  }
}
