.projectListItem {
  margin-bottom: 60px;
}

.projectListItem li{
  list-style-type: none;
}


.projectDevider {
  margin-top: -1.5rem;
  opacity: 0.3;
}

.projectContainer {
  position: relative;
  display: block;
  margin-bottom: 4rem;
  min-height: 35rem;
}

.titleContainer {
  margin-bottom: 1.4rem;
}

.title {
  font-size: 3.5rem;
  font-family: "Oswald";
  font-weight: 300;
  letter-spacing: 1.4rem;
}

.titleContainer {
  opacity: 0.7;
  margin-left: 0rem;

  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;

  -webkit-transition: margin-left 0.4s ease;
  -moz-transition: margin-left 0.4s ease;
  -ms-transition: margin-left 0.4s ease;
  -o-transition: margin-left 0.4s ease;
  transition: margin-left 0.4s ease;
}

.titleContainer:hover {
  opacity: 1;
  margin-left: 0.3rem;

  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;

  -webkit-transition: margin-left 0.5s ease;
  -moz-transition: margin-left 0.5s ease;
  -ms-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease;
}

.descriptionContainer {
  display: block;
  font-weight: 300;
}

.description {
  margin-top: 0;
  font-size: 0.9rem;
  line-height: 1.7rem;
}

.linksContainer {
  display: block;
  margin-top: 1.5rem;
}

.linkContainer {
  display: block;
}

.projectLink {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  margin-left: 0rem;
  opacity: 0.4;

  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;

  -webkit-transition: margin-left 0.2s ease;
  -moz-transition: margin-left 0.2s ease;
  -ms-transition: margin-left 0.2s ease;
  -o-transition: margin-left 0.2s ease;
  transition: margin-left 0.2s ease;
}
.projectLink:hover {
  opacity: 1;
  margin-left: 0.4rem;

  -webkit-transition: margin-left 0.5s ease;
  -moz-transition: margin-left 0.5s ease;
  -ms-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease;
}

.right {
  float: right;
  margin: 0 0 30px 3rem;
}

.left {
  float: left;
  margin: 0 3rem 30px 0;
}

.projectImgContainer {
  position: relative;
  width: 60%;
  height: 30rem;
  overflow: hidden;
  opacity: 1;

  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.projectImgContainer img {
  position: absolute;
  left: 50%;
  top: 25%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.loading {
  opacity: 0;
}

@media screen and (max-width: 1224px) {
  .description {
    margin-top: 0;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .projectDevider {
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .projectDevider {
    margin-top: 0;
  }

  .titleContainer {
    margin-bottom: 1.2rem;
  }

  .title {
    font-size: 3.0rem;
    letter-spacing: 1.1rem;
  }
  .projectImgContainer {
    display: block;
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .projectImgContainer img {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .textContainer {
    margin: 0 auto;
    display: block;
    width: 80%;
  }
}


@media only screen and (max-width: 720px) {

  .title {
    margin-bottom: 0.3rem;
    font-size: 2.8rem;
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.7rem;
  }

  .projectImgContainer {
    margin: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-bottom: 1rem;
    height: 20rem;
  }

  .descriptionContainer {
    display: block;
    margin: 1rem 0rem;
    font-size: 0.8rem;
    font-weight: 300;
    width: 100%;
  }
  .textContainer {
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  .titleContainer {
    margin-bottom: 0;
  }

  .projectImgContainer {
    margin-bottom: 0.4rem;
  }
}
@media only screen and (max-width: 560px) {
  .titleContainer {
    margin-bottom: -1.5rem;
  }

  .projectImgContainer {
    margin-bottom: -1rem;
  }
}


@media only screen and (max-width: 480px) {
  .titleContainer {
    margin-bottom: 1rem;
  }

  .projectContainer {
    position: relative;
    display: block;
    margin-bottom: 50px;
    min-height: 400px;
  }

  .title {
    font-size: 2.5rem;
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.4rem;
  }

  .projectImgContainer {
    display: block;
    margin: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-bottom: 0.8rem;
    height: 15rem;
  }

  .projectImgContainer img {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .descriptionContainer {
    display: block;
    margin: 0.4rem 0rem;
    /*font-size: 0.6rem;*/
    font-weight: 300;
    width: 100%;
  }
}
