/***
Overlay(background)
***/

.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */
	height: 0%;
	width: 100%;
	position: fixed; /* Stay in place */
	z-index: 3;
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0); /* Black fallback color */
	background-color: rgba(20, 20, 20, 0.95); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  -webkit-transition: 0.5s;
	/*text-align: center;*/
}

.overlay a {
	/*text-align: center;*/
}

/***
Links
***/
.menuContainer {
	display: block;
	float: left;
	width: 60%;
	margin: 4.5rem 0 0 4.5rem;
}
.overlayContent {
	z-index: 4;
}

.clickDetection {
}

.link {
	display: block;
	margin: 2.0rem 0 1rem 2rem;
	padding: 8px;
	text-decoration: none;
	font-size: 3rem;
	color: #818181;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}

.link p {
	font-family: 'Oswald';
	font-size: 3.5rem;
	letter-spacing: 0.3rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.link:hover,
.link:focus {
	color: #f1f1f1;
}

.link.active p {
	color: rgba(255, 160, 235, 1);
	margin: 0;
}

.link.inactive p {
	margin: 0;
}

@media screen and (max-width: 768px) {
	/*.link {
		margin: 2.0rem 0 1rem 2rem;
	}

	.menuContainer {
		width: 60%;
		margin: 3rem 0 0 3rem;
	}*/

	.link p {
		font-size: 3.0rem;
		letter-spacing: 0.4rem;
	}
}


@media screen and (max-width: 490px) {
	.link {
		margin: 0.5rem 0 1.0rem 2rem;
	}

	.menuContainer {
		width: 70%;
		margin: 2.5rem 0 0 2.5rem;
	}

	.link p {
		font-size: 2.5rem;
		letter-spacing: 0.3rem;
	}
}

@media screen and (max-width: 320px) {
	.link {
		margin: 1.0rem 0 1.0rem 2rem;
	}

	.menuContainer {
		width: 80%;
		margin: 1.5rem 0 0 1.0rem;
	}

	.link p {
		font-size: 2.0rem;
		letter-spacing: 0.1rem;
	}
}


/***
Buttons
***/

.btn {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	outline: none;
}

.closeBtn {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.closeIcon:hover {
	opacity: 0.9;
}
.closeIcon {
	opacity: 0.5;
	margin: 0;

	transition: 0.5s;
	-webkit-transition: 0.5s;

}

/***
Foot
***/
.foot {
	display: block;
}
.snContainer {
	position: relative;
	display: block;
	width: 8rem;
	margin: 1rem 0 0 2.7rem;
}
.snList {
  display: inline;
	position: relative;
  list-style-type: none;
  margin: 0;
}

.snList li {
  display: inherit;
}

.snIcon {
  width: 20px;
  height: auto;
  margin-right: 1.0rem;
	fill: rgba(255, 255, 255, 1);
  opacity: 0.5;
}

.snIcon:hover {
	fill: rgba(255, 255, 255, 1);
  opacity: 0.9;
}
.signWhite {
	display: block;
	height: 2.5rem;
	margin: 2.0rem 1.0rem 0  1.7rem;
	opacity: 0.6;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (max-width: 490px) {
	.signWhite {
		display: block;
		height: 2.5rem;
		margin: 1.3rem 1.0rem 0  1.7rem;
		opacity: 0.6;
	}
	.snContainer {
		margin: 0.8rem 0 0 2.7rem;
	}
}
